/* GERAIS */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.row {
    margin: 0;
}


p, li{
    font-size: 14px;
}

/* Barra de navegação */

header {
  margin-bottom: 40px;
}

header, .navbar {
  background: #292E33;
  box-shadow: 0 2px 5px 0;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 200px;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand:hover {
    color: black;
}

.navbar-brand img {
    width: 100px;
    
}
/* reset  */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#navbar-links a {
    font-weight: 600;
    color: white;
}

#navbar-links a:hover {
    color: #14B241;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1em .8em;
}


/* cabeçalho */

.cabecalho {
    width: 100%;
    float: left;
    padding: 3% 4%;
}

.logo {
    width: 56px;
    height: 56px;
    float: left;
    background: url(../img/logo-mobile.png) center center/56px no-repeat;
    font-size: 0;
}
.btn-menu{
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: #da6709;
    cursor: pointer;  
}

/* menu  */

.menu{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
}

.btn-close {
    font-size: 2.5em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin-right: 2%;
}
.menu ul {
    width: 100%;
    float: left;
    text-align: center;
}

.menu li {
    padding: 1.5%;
}

.menu li a {
     font-size: 2em;
     color: #fff;
     padding: 1.5%, 3%;
}

.menu li a:hover {
    color: #da6709;
}

/* banner */

.banner {
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background: url(../img/bg.jpg) no-repeat fixed;
}

.title {
    width: 100%;
}

.title h2 {
    font-size: 2.5em;
    color: white;
    font-weight: 700;
}

.title h3 {
    font-size: 1.5em;
    color: white;

}

.buttons {
    width: 100%;
}
.btn {
    cursor: pointer;
    color: white;
    margin: 10px;
    background-color: #da6709;
    border-radius: 10px;
    padding: 10px;
}

.btn-cadastrar:hover {
    color: #7c400f;
}

.btn-sobre:hover {
    color: #7c400f;
}

/* serviços */

.servicos {
    width: 100%;
    float: left;
    padding: 3% 4%;
}

.servico {
    width: 100%;
    background-color: white;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 3%;
}

.servico img {
    border-radius: 7px 7px 0 0;
}

.inner {
    padding: 7%;
}

.inner a {
    font-size: 1.5em;
    color: black;
    font-weight: 700;
}

.inner h4 {
    font-size: 1.2em;
    color: black;
    margin-top: 2%;
}

.inner p {
    margin-top: 6%;
    color: black;
    line-height: 1.5em;
}

/* newsletter */

.newsletter {
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background-color: black;
}

.newsletter h2 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
}

.newsletter h3 {
    color: white;
}

.newsletter form {
    margin-top: 2%;
}

#email {
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 5%;
    border-radius: 5px;
    font-weight: 700;
}

.btn-cadastro {
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(105, 105, 105);
    color: white;
    padding: 5%;
    border-radius: 5px;
    font-weight: 700;
}

.newsletter input:hover {
    color: #da6709;
}


/* body */
.container.flex {
    /*display: flex;
  }*/
  .item {
    width: 100%;
    height: 100%;
  
  }
  
  .img1 {
    margin-left: 10px;
    width: 100%;
  }
  .titulo {
      font-weight: 700;
      color: #14B241;

  }

  .subtitulo {
      font-size: 1em;
  }

  .form-group {
      margin-right: 20px;
      float: left;
  }

/* footer  */

.footer-list {
    justify-content: space-around;
    display: flex;
    list-style: none;
}

.footer-list li a {
    color: #14B241;
}

.rodape {

    color: white;
    width: 100%;
    float: left;
    padding:  3% 4%;
    text-align: center;
    background: black;
}

.social-icons a {
    font-size: 1.5em;
    margin: 10px;
    color: rgba(255, 255, 255, 0.7)te;
}

.social-icons a:hover {
    color: #14B241;
}

.copyright {
    margin-top: 10px;
}


@media screen and (max-width: 500px) {

    .footer-list {
        
        display: inline;
        
    }


}
@media screen and (max-width: 992px) {
    .img1 {
        display: none;
    }
}

