<footer>
    <div class="footer-top">
      <div class="container">
        <div class="col-md-3 col-sm-12 col-xs-12 segmento1 md-mb-30 sm-mb-30">
          <h2>BreakingWaste</h2>
          <p>Somos a BreakingWaste, a primeira empresa que realmente se
            preocupa com o meio-ambiente. Levamos você ao melhor preço e ao melhor serviço!</p>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 segmento2 md-mb-30 sm-mb-30">
          <h2>Links</h3>
          <ul>
            <li><a class="text-success font-weight-bold" href="quemsomos">A Empresa</a></li>
            <li><a class="text-success font-weight-bold" href="como_funciona">Parceiros</a></li>
            <li><a class="text-success font-weight-bold" href="index">Tipos de Resíduos</a></li>
            <li><a class="text-success font-weight-bold" href="como_funciona">Logística</a></li>
            <li><a class="text-success font-weight-bold" href="entre">Fale Conosco</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 segmento3 sm-mb-30">
          <h2>Redes Sociais</h2>
          <p>Fique ligado em todas as novidades!</p>
          <a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-twitter-square"></i></a>
          <a href="#"><i class="fab fa-instagram-square"></i></a>
          <a href="#"><i class="fab fa-youtube-square"></i></a>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 segmento4 sm-mb-30">
          <h2>Newsletter</h2>
          <p>Assine nossa Newsletter e tenha <br> notícias em primeira mão</p>
          <form action="">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
            <button type="button" class="btn2 btn btn-success">Enviar</button>
          </form>
        </div>
      </div>
    </div>
    <p class="footer-bottom-text">Todos os direitos reservados &copy;BreakingWaste.2020</p>
  </footer>