body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



/* PERFIL DE USUÁRIO */

.caixa-user{
  width: 100%;
  height: 200px;
  border-radius: 8px;
  background-color: gray;
}