/* GERAIS */
* { 
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.row {
    margin: 0;
}

/* GERAIS */

/* *********************************************  */

 
  img {
    width: 200px;
    height: auto;
  }

  input.caixa-rastreio {
      margin: 0;
  }

  .nav-item {
    margin-right: 10px;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 1em;
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #14B241;
}
/* NAVBAR  */

/* *********************************************  */

/* CONTEUDO PRINCIPAL DA HOME */

.main-home-conteudo{
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
}

.subtitulo {
    color: #292E33;
    font-size: 1.2em;
    font-weight: 600;
}

.chamadaform {
  color: #14B241;
  font-size: 1.2em;
  font-weight: 600;
}

.titulo {
    font-size: 2.5em;
    font-weight: 700;

}

.img1 {
    width: 45vw;
}

/* CONTEUDO PRINCIPAL DA HOME */

/* *********************************************  */

/* PAGINA PERFIL USUARIO  */

.user-photo {
    width: 100px;
    height: 100px;
    color: #FFF;
    background-color: #000;
    border-radius: 50%;
}

.user-area {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.edit {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}


.user-id {
    margin-left: 10px;
}

.user-name {
    font-size: 20px;
    font-weight: 600;
}

.ramo-name {
    font-size: 16px;
}

.profile-work1 {
    display: flex;
    margin-top: 20px;
}
.profile-work1 p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    padding: 0;
    margin: 0; 
}
.profile-work1 a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work1 ul{
    list-style: none;
}

.pesquisados {
    margin-left: 50px;
}

 .profile-head .nav-tabs .nav-link.active a{
    border: none;
    border-bottom:2px solid #0062cc;
}

.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

#myTabContent {
    border-bottom: 1px solid rgba(207, 207, 207, 0.5);
    border-left: 1px solid rgba(207, 207, 207, 0.5);
    border-right: 1px solid rgba(207, 207, 207, 0.5);
    padding-top: 20px;
    background-color: #fff;
    
}

.segunda-secao {
    margin-bottom: 30px;
}

/* PAGINA PERFIL USUARIO  */

/* *********************************************  */

/* PAGINA CADASTRE-SE CONTEUDO */

  .cadastro {
    margin: 0 auto;
    display: flex;
    width: 200px;
    height: 200px;
}

/* PAGINA CADASTRE-SE CONTEUDO */

/* *********************************************  */

/* PAGINA ENTRE CONTEUDO PRINCIPAL */

.entrar{
    
    color: green;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .btn-entrar {
    margin-bottom: 10px;
  }

  .logo-entre {
      border-radius: 4px;
      width: 72px;
      height: 72px;
      margin-bottom: 20px;
  }

  .titulo-entre {
      font-weight: 600;
  }

/* PAGINA ENTRE CONTEUDO PRINCIPAL */

/* *********************************************  */

/* PAGINA RESIDUOS HERO */

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/pexels-rodolfo-clix-1366944.png");
    background-size: cover;
    min-height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.hero h1 {
    text-shadow: 2px 2px 8px #08130165;
    font-weight: 600;
    font-size: 3.2rem;
    margin-bottom: 15px
}

.hero h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.hero .btn {
    background-color: white;
    border-radius: 4px;
    color: #191c03;
    padding: 20px 50px;
    text-transform: uppercase;
    
}

ul#about-list li i.fas {
    color: #14B241;
    margin-right: 10px;
}

/* PAGINA RESIDUOS HERO */

/* *********************************************  */

/* PAGINA RESIDUOS GHS INFORMAÇÕES  */

    .main-title-ghs {
        color: red;
        margin: 0 0 10px 0;
        font-size: 40px;
        font-weight: 700;
        text-align: center;

    }

    .ghs-p2 {
        margin-top: 30px;
    }


    .ghs-p {
        margin-bottom: 40px;
        text-align: center;
    }

    #about-area {
        background-color: #f5f5f5;
        margin-bottom: 30px;
     }
     
     .main-title {
        color: #14B241;
        margin: 0 0 10px 0;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
     }
     
     hr {
        left: 0;
        border: 2px solid #14B241;
        width: 100px;

    }

/* PAGINA RESIDUOS GHS INFORMAÇÕES  */

/* *********************************************  */

/* PAGINA RESIDUOS ITENS QUIMICOS  */

  .sub-title {
      font-weight: 600;
      text-align: center;
      margin-bottom: 30px;
  }

.service-box {
    text-align: center;
    margin-bottom: 50px;
 }
 
 .service-box itemq, .service-box p {
    transition: .5s;
 }
 
 .itemq {
     opacity: 0.5;
     width: 100px;
 }

 .itemq:hover {
     opacity: 1;
     -webkit-transition:  500ms ease-out 0.3s;
    -moz-transition:  500ms ease-out 0.3s;
    -o-transition:  500ms ease-out 0.3s;
    transition:  500ms ease-out 0.3s;
 }
 
 .service-box p {
    font-size: 20px;
    margin-bottom: 0px;
 }
 
 .service-box:hover > p {
    color: red;
 }


/* PAGINA RESIDUOS ITENS QUIMICOS  */

/* *********************************************  */

/* PAGINA DE CONTATO BOTOES FALE CONOSCO  */
  
    .enviar-email {
    margin-bottom: 10px;
}

  .img-fale-conosco {
    margin: 10px auto;
    display: flex;
    width: 200px;
    height: 200px;
}

/* PAGINA DE CONTATO BOTOES FALE CONOSCO  */

/* *********************************************  */

/* PAGINA QUEM SOMOS CONTEUDO */

.img-sobre {
    display: flex;
    justify-content: center;
}

.mainconteudo {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    
}

ul#about-list {
    padding-left: 0;
}

.box-chamada {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chamada-sobre {
    font-weight: 600;
    color: #14B241;
}


.segundo-conteudo {
    padding: 20px;
    
}

.chamada {
    font-size: 40px;
    font-weight: 600;
    color: #14B241;
}

hr {
    left: 0;
    border: 2px solid #14B241;
    width: 100px;
}

.segundo-conteudo-paragrafo {
    color: #292E33;
}

.item-cf i.fas {
    color: #14B241;
    font-size: 60px;
    margin-bottom: 20px;
}

.item-cf {
    margin-bottom: 50px;
}

/* porque existimos  */

.why-conteudo {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 50px;
}

.img-fluid {
    width: 80%;
}

/* como funciona  */

.how-works {
    padding: 30px;
}

/* converse  */

.converse-conteudo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.imagem-converse {
   width: 50%; 
}

.img-converse {
    display: flex;
justify-content: center;
}

.btn a {
    color: white;
    text-decoration: none;
}

/* PAGINA QUEM SOMOS CONTEUDO */

/* *********************************************  */

/* FOOTER */

    footer{
       position: relative;
       margin-top: 60px;
        
    }
    footer .container{
        display: flex;
        flex-wrap: wrap;
    }

    .segmento1 h2{
        font-weight: 700;
        color: #14b241;
    }

    footer p {
      font-size: 14px;
      color: white;
      line-height: 25px;
    }

    footer h2, h3 {
      color: white;
    }

    footer h2 {
        font-size: 18px;
    }
  
    .footer-top {
        background-color: #292E33;
        padding: 80px 0;
    }
  
    .logo-footer {
        width: 200px;
        height: auto;
        margin-bottom: 10px;
    }
  
    .segmento2 h2:before {
        content: "/";
        color: #14b241;
        padding-right: 10px;
    } 
  
    .segmento2 ul {
        margin: 0;
        padding: 0;
    }
  
    .segmento2 ul li {
        font-size: 14px;
        border-bottom: 1px solid rgba(14, 180, 50, 0.3);
        line-height: 40px;
    }
  
    .segmento3 h2:before {
      content: "/";
      color: #14b241;
      padding-right: 10px;
  } 
  
      .segmento3 i.fab {
          color: #14b241;
          width: 50px;
          height: 50px;
          font-size: 40px;
          display: inline-block;
      }

      .segmento3 i.fab:hover {
        color: #188d39;

    }
  
      .segmento4 h2:before {
          content: "/";
          color: #14b241;
          padding-right: 10px;
      } 
  
      .form-control{
          margin-bottom: 5px;
      }

      .footer-bottom-text {
          text-align: center;
          background-color: #14b241;
          line-height: 40px;
      }
  

/* FOOTER  */

/* *********************************************  */

/* MEDIA QUERIES */

  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .md-mb-30{
          margin-bottom: 30px;
      }
  }
  @media only screen and (max-width: 767px) {
      .sm-mb-30 {
          margin-bottom: 30px;
      }
      .footer-top{
          padding: 50px 0;
      }
  }
  
  @media (max-width: 991px) {
    .main-home-conteudo {
        display: flex;
        flex-direction: column-reverse;
    }
    .img1 {
        margin-bottom: 50px;
        width: 550px;
    }
    .titulo {
        font-size: 2em;
        font-weight: 700;
  
    }
  
    .subtitulo {
        color: #292E33;
        font-size: 1em;
        font-weight: 600;
    }
  
    .chamadaform {
      color: #14B241;
      font-size: 1em;
      font-weight: 600;
    }

    header {
        margin-bottom: 0px;
    }
  }

  @media (max-width: 767px) {
    .img1 {
      width: 470px;
    }
}

  @media (max-width: 576px) {
      .img1 {
        width: 80vw;
      }
  }
  
  
@media (max-width: 900px) {

    .mainconteudo {
        display: flex;
        flex-direction: column;
     }
}

@media (max-width: 767px) {

    .chamada-sobre {
        font-size: 2em;
        margin-top: 20px;
        text-align: center;
    }

    .sub-chamada-sobre {
       text-align: center;
   }
}

  @media (max-width: 576px) {
    .imagem-sobre {
        width: 60vw;
      }
  }

  @media (max-width: 767px) {
    .imagem-porque {
      width: 300px;
    }
    .mainconteudo {
        display: flex;
        flex-direction: column;
     }
}

  @media (max-width: 576px) {
    .imagem-porque {
        width: 60vw;
      }
  }

  @media (max-width: 767px) {
    .why-conteudo {
        display: flex;
        flex-direction: column-reverse;
    }

    .img-why {
        display: flex;
        justify-content: center;
        
    }

    .imagem-porque {
        width: 70%;
        margin-bottom: 30px;
    }

    .imagem-converse {
        width: 50%;
        margin-bottom: 30px;
     }
}

/* MEDIA QUERIES */

/* *********************************************  */

/* configurações api do google */ 





.botao-radio{
    display: inline !important;
}


/* STYLE DA PÁGINA DO USUÁRIO*/

.caixa-user{
    width: 100%;
    background-color: rgb(207, 203, 203);
    margin-top: 25px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 1em rgb(134, 133, 133);
    border: solid 1px #a19f9f;
  }

  .user-photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    height: 110px;
    border-radius: 80px;
    border: solid 2px #252525;
  }

  .sobre-itens{
    text-align: right;
    padding-right: 20px;
  }

  .dgi-sobre-itens{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .contorno{
    margin-left: 8px;
    margin-top: 8px;
    width: 70%;
    background-color: rgb(253, 253, 253);
    border-radius: 8px;
    border: 1px solid ;
    box-sizing: border-box;
    display: inline-block;
  }

  .box-sobre{
    width: 100%;
    height: 100%;
    border-radius: 0px;
    background-color: rgb(207, 203, 203);
    border: solid 1px #a19f9f;
    box-shadow:  3px 3px 1em rgb(134, 133, 133);
    margin-bottom:  20px;
    margin-top: 20px;
    box-sizing:border-box;
  }

  .titulo-pedidos, .titulo-sobre{
    text-align: center;
    color: #000;
    margin-top: 15px    ;
  }

  .box-pedidos{
    width: 100%;
    height: 100%;   
    background-color: rgb(207, 203, 203);
    border: solid 1px #a19f9f;
    box-shadow:  3px 3px 1em rgb(134, 133, 133);
    margin-top: 20px;
    margin-bottom: 20px;
             
  }
    
  @media (max-width: 1002px){
    .user-name, .ramo-name{
        text-align: center;
        }
        .contorno{
          width: 70%;
          display: inline-block;
        }
        .sobre-itens{
        position: relative;
        bottom: 45px;
    
  }

  @media (max-width: 767px){
      
      .user-name, .ramo-name{
        text-align: center;
        }
        .contorno{
          width: 70%;
          display: inline-block;
        }
        .sobre-itens{
        position: relative;
        bottom: 45px;
      }
        .box-pedidos{
            margin-top: 50px;
        }
      
        
      }
      .refs{
          display: inline-block;
          width: 1.5em;
          height: 1.5em;
      }
      )
    }


  @media (max-width: 600px){
      
    .user-name, .ramo-name{
      text-align: center;
      font-size: 1.5em;
      }
      .sobre-itens{
        position: relative;
        bottom: 45px;
      }

      .user-photo{
        width: 90px;
        height: 90px;
      }
  }

  @media (max-width: 450px){
      
      .user-name, .ramo-name{
        text-align: center;
        }
        .sobre-itens{
          position: relative;
          bottom: 32px;
        }

        .sobre-itens, .dgi-sobre-itens{
          font-size: 13px;
        }

    }

    .refs{
        margin-top: 15px !important;
        margin-left: 10px;
    }

    .deletar{
        color: #000;
        display: inline-block;
    }

    .editar{
        color: #000;
        display: inline-block;
    }

     @media (max-width: 767px){
      
      .user-name, .ramo-name{
        text-align: center;
        }
        .contorno{
          width: 70%;
          display: inline-block;
        }
        .sobre-itens{
        position: relative;
        bottom: 45px;
      }
        .box-pedidos{
            margin-top: 50px;
        }
      
        
    }
    @media (max-width: 392px){
        .user-name, .ramo-name{
            text-align: center;
            }
            .contorno{
              width: 60%;
              display: inline-block;
            }
            .sobre-itens{
            position: relative;
            bottom: 45px;
        
      }
  }




  /* API DO GOOGLE NA HOME */

.api-google{
    width: 100%;
    height: 400px;
    background-color: #ddd;
    margin-bottom: -60px ;
}